
<!-- Child Component -->

<div class="form-group">
    <label>Name :</label>
    <input type="text" class="form-control" @attributes="ArbitraryAttributes" placeholder="Enter your name - default">
</div>

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> ArbitraryAttributes { get; set; } = new Dictionary<string, object>();
    //{
    //    { "id", "txtName" },
    //    { "name", "txtName" },
    //    { "placeholder", "Type Your name - from Child" },
    //    { "maxlength", 5}
    //}
}
